<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.edu.mapper.CourseMapper">
    <select id="getCoursePublishById" resultType="com.atguigu.edu.vo.CoursePublicVo">
        select c.title,c.cover,c.lesson_num lessonNum,convert(c.price,DECIMAL(8,2)) price,
                s1.title subjectLeaveOne,s2.title subjectLeaveTwo,t.name teacherName
            from edu_course c
                left join edu_teacher t on c.teacher_id = t.id
                left join edu_subject s1 on c.subject_parent_id = s1.id
                left join edu_subject s2 on c.subject_id = s2.id
                where c.id = #{id}
    </select>
</mapper>
